---
import "./src/styles/global.css";
import RickAndMorty from "./rickAndMorty.astro";
import Layout from "../layouts/Layout.astro";
---

<div class="text-xl">
    <Layout>
        <RickAndMorty />
    </Layout>
</div>
