---
import "./src/styles/global.css";
import Inicio from "./inicio.astro";
import Layout from "../layouts/Layout.astro";
---

<div class="text-xl">
    <Layout>
        <Inicio />
    </Layout>
</div>
