---
import RickAndMorty from "./InicioRickAndMorty.astro";
import Layout from "../layouts/Layout.astro";
---

<head>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
</head>
<div>
    <Layout>
        <RickAndMorty />
    </Layout>
</div>
