---
import Character from "./data/character.astro";
---

<section title="Api Rick and Morty font-sans">
    <h1 class="text-green-300 text-3xl font-extrabold font-mono">
        Api Rick And Morty
    </h1>
    <p class="font-mono mt-5 text-gray-300">Elije tu personaje favorito!</p>
    <div>
        <Character />
    </div>
</section>
