---
import Character from "./data/character.astro";
---

<section
    title="Api Rick and Morty"
    class="font-sans max-md:text-center max-md:mt-5"
>
    <div class="max-md:ml-[-110px] max-md:text-xl">
        <h1
            class="text-green-300 font-extrabold font-sans max-w-screen-lg mt-10 text-2xl max-md:mr-50 max-md:whitespace-nowrap"
        >
            Api Rick And Morty
        </h1>
        <p
            class="font-mono mt-5 text-gray-300 max-md:ml-[-60px] max-md:text-2xl max-md:whitespace-nowrap"
        >
            Elije tu personaje favorito!
        </p>
    </div>
    <div>
        <Character />
    </div>
</section>
<style>
    body {
        height: 20vh;
    }
    @media screen and (max-width: 390px) {
        body {
            height: 20vh;
        }
    }
</style>
