---
import Character from "./data/character.astro";
---

<section class="">
    <h1>Incio</h1>
    <p>Bienvenido a la pantalla de inicio</p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis eaque
        aspernatur, eos officiis laborum ipsa sapiente perferendis recusandae.
        Expedita iste deserunt sequi maiores vel beatae obcaecati! Molestias
        repellat quo neque!
    </p>
    <div>
        <Character />
    </div>
</section>
