---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section title="Mas" class="text-xl h-[100vh]">
        <h1 class=""></h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
            tempore culpa facere numquam accusamus fugit doloremque quo
            provident illum delectus? Molestias reprehenderit impedit in, quod
            tenetur assumenda sequi ratione earum.
        </p>
    </section>
    <style></style>
</Layout>
