---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section title="pokeApi" class="text-xl h-[100vh]">
        <h1>PokeApi</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure
            corporis ab amet harum eaque dolore, assumenda illum adipisci,
            facere consequuntur vero. Itaque autem nisi voluptatibus in iste
            sint, rerum repellat?
        </p>
    </section>
</Layout>
