---
import "../styles/global.css";
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<meta charset="UTF-8" />
		<title>Landig Page</title>
	</head>
	<body>
		<Navbar />
		<div class="text-black ml-50 mr-50 md:h-[100px] grow">
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 150vh;
		background-color: rgba(67, 67, 67, 0.681);
	}
	@media (max-width: 400px) {
		html,
		body {
			width: 100%;
			height: 10px;
		}
	}
</style>
