---
import "../styles/global.css";
import Navbar from "./Navbar.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>Landig Page</title>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<Navbar />
		<div class="text-black ml-50 mr-50">
			<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		background-color: rgba(67, 67, 67, 0.681);
	}
	@media screen and (max-width: 400px) {
		body {
			width: 450px;
		}
	}
</style>
