<header class="flex justify-center mb-5">
    <nav
        class="mt-5 text-2xl font-bold border-b border-b-black w-[90%] text-center pb-5 text-yellow-300 font-mono"
    >
        <a
            class="hover:text-yellow-200 transition duration-300 ease-in-out"
            href="/">Rick And Morty</a
        >
        <a
            class="hover:text-yellow-200 transition duration-300 ease-in-out"
            href="/pokeApi">PokeApi</a
        >
        <a
            class="hover:text-yellow-200 transition duration-300 ease-in-out"
            href="/masContenido">Más</a
        >
    </nav>
</header>

<style>
    header nav a {
        padding: 20px;
    }
</style>
