<header class="flex justify-center mb-5">
    <nav
        class="mt-5 text-2xl font-bold border-b border-b-black w-[90%] text-center p-5 text-blue-500"
    >
        <a
            class="hover:text-blue-600 transition duration-300 ease-in-out"
            href="/">Incio</a
        >
        <a
            class="hover:text-blue-600 transition duration-300 ease-in-out"
            href="/home">Home</a
        >
        <a
            class="hover:text-blue-600 transition duration-300 ease-in-out"
            href="/about">About</a
        >
    </nav>
</header>

<style>
    header nav a {
        padding: 20px;
    }
</style>
